<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' gap:; style-src 'self' 'unsafe-inline'; media-src *" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.0rc1.min.css" />
    <script type="text/javascript" src="js/jquery.mobile-1.3.2.min.js"></script>

    <script type="text/javascript" src="cordova.js"></script>


    <title>RecipeApp</title>
    <script>

    $(document).ready(function(){
      var details="<h3>id: "+ sessionStorage.detailId +"</h3><h3>Name: </h3><h3>"+ sessionStorage.detailName +"</h3><h3>Ingredient: </h3><h3>"+ sessionStorage.detailIngredient +"</h3><h3>Step: </h3><h3>"+ sessionStorage.detailStep +"</h3><h3>Type: "+ sessionStorage.detailType +"</h3>";
      document.getElementById("details").innerHTML = details;
    });
    function clickDelete(){

    }
    </script>
</head>

<body>
  <div class="app" data-role="page" id="detail" ng-app="RecipeApp" ng-controller="RecipeCtrl">
    <header>
      <img src="img/ic_back.png" ng-click='back()' class="imgBack" alt="ic_back" width="25" height="25"/>
      <h1>Detail</h1>
      <img src="img/ic_edit.png" ng-click='clickEdit()' class='btnSecondRightmost' alt="ic_edit" width="40" height="40"/>
      <img src="img/ic_delete.png" ng-click='delete()' class='btnRightmost' alt="ic_delete" width="40" height="40"/>
    </header>

      <div id="details"></div>
      <button ng-click='back()'>BACK</button>


</div>
</body>

</html>
